<a name="about"></a>
<p>Distances are determined by modeling the Earth as a oblate spheroid according to the specifications of the <a href="http://en.wikipedia.org/wiki/World_Geodetic_System">WGS 84 standard.</a></p>
<p>This app makes use of the <a href="http://geographiclib.sourceforge.net/">GeographicLib library</a> by Charles Karney, and the <a href="http://hpneo.github.io/gmaps/">gmaps.js library</a> by Gustavo Leon.</p>
<p>Code for this app is available <a href="https://github.com/twitchard/borderdistance">on GitHub</a>.</p>
<center>
<p>App by Richard Marmorstein, June 2014. This is free and unencumbered software released into the public domain.</p>
</center>
